

{% extends 'adminpa/base.html' %}


{% load static %}
<!-- BLOCK FOR TITLE-->
{% block title %}
Dashboard
{% endblock title %}
<!-- END Block For Title-->


<!-- Block for CUSTOM_CSS -->
{% block custom_css %}


{% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM  CSS-->

<!-- BLOCK FOR PAGE TITLE -->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!--END BLOCK FOR PAGE TITLE-->


<!-- BLOCK FOR PAGE MAIN CONTENT -->
{% block page_content %}
<p>Simple Dashboard Empty Page</p>
{% endblock page_content %}
<!--End BLOCK FOR PAGE MAIN CONTENT -->

<!-- Block for CUSTOM_js -->
<!-- END BLOCK FOR CUSTOM_js-->